<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/OrganizationWorksDB" />
        <property name="username" value="root" />
        <property name="password" value="1" />
    </bean>


    <!-- Hibernate 4 SessionFactory Bean definition -->
    <bean id="hibernate4AnnotatedSessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="annotatedClasses">
            <list>
                <value>com.genezis.model.Attorney</value>
                <value>com.genezis.model.CommentToWork</value>
                <value>com.genezis.model.CommentToStudent</value>
                <value>com.genezis.model.StudentGroup</value>
                <value>com.genezis.model.InClass</value>
                <value>com.genezis.model.Marks</value>
                <value>com.genezis.model.Queue</value>
                <value>com.genezis.model.Subject</value>
                <value>com.genezis.model.Timeteable</value>
                <value>com.genezis.model.TypeInClass</value>
                <value>com.genezis.model.TypeOfAttorney</value>
                <value>com.genezis.model.TypeOfWork</value>
                <value>com.genezis.model.MyUser</value>
                <value>com.genezis.model.MyUserCredentials</value>
                <value>com.genezis.model.UserType</value>
                <value>com.genezis.model.Work</value>
                <value>com.genezis.model.M2MProfessorSubject</value>
                <value>com.genezis.model.M2MGroupTimeteable</value>
                <value>com.genezis.model.M2MStudentWork</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.show_sql">false</prop>

            </props>
        </property>
    </bean>
    <bean id="m2mGroupTimeteableDAO" class="com.genezis.dao.M2MGroupTimeteableDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </bean>

    <bean id="m2mProfessorSubjectDAO" class="com.genezis.dao.M2MProfessorSubjectDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </bean>

    <bean id="m2mStudentWorkDAO" class="com.genezis.dao.M2MStudentWorkDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </bean>

    <bean id="attorneyDAO" class="com.genezis.dao.AttorneyDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </bean>
    <bean id="commentToStudentDAO" class="com.genezis.dao.CommentToStudentDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </bean>
    <bean id="commentToWorkDAO" class="com.genezis.dao.CommentToWorkDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </bean>
    <bean id="inClassDAO" class="com.genezis.dao.InClassDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </bean>

    <bean id="marksDAO" class="com.genezis.dao.MarksDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </bean>
    <bean id="queueDAO" class="com.genezis.dao.QueueDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </bean>
    <bean id="subjectDAO" class="com.genezis.dao.SubjectDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </bean>
    <bean id="timeteableDAO" class="com.genezis.dao.TimeteableDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </bean>

    <bean id="typeInClassDAO" class="com.genezis.dao.TypeInClassDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </bean>
    <bean id="typeOfAttorneyDAO" class="com.genezis.dao.TypeOfAttorneyDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </bean>
    <bean id="userCredentialsDAO" class="com.genezis.dao.UserCredentialsDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </bean>
    <bean id="workDAO" class="com.genezis.dao.WorkDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </bean>
    <bean id="typeOfWorkDAO" class="com.genezis.dao.TypeOfWorkDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </bean>
    <bean id="userDAO" class="com.genezis.dao.UserDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </bean>

    <bean id="groupDAO" class="com.genezis.dao.GroupDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </bean>
    <bean id="personDAO" class="com.genezis.dao.UserTypeDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>

</beans>